<div  class="panel panel-default">
  <div class="panel-heading">
    <div class="row m-l-xs m-r-xs">
      <i class="icon-users"></i> 控制器权限
      <a href="#" class="btn btn-default btn-sm" data-permission="controller">新增</a>
    </div>
  </div>
  <div class="table-responsive">
    <form action="/admin/roles/<%=  @role.id %>/create_controller_permission"  data-remote="true" id="new_controller_permission" method="post">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
            <th>权限类型</th>
            <th>描述</th>
            <th>权限</th>
            <th style="width:150px">创建时间</th>
            <th style="width:130px">操作</th>
          </tr>
        </thead>
        <tbody id="controller_tbody">
          <!-- 列表循环开始 -->
          <%= render @role.controller_permissions %>
          <!-- 列表循环结束 -->
        </tbody>
      </table>
    </form>
  </div>
</div>
<div  class="panel panel-default">
  <div class="panel-heading">
    <div class="row m-l-xs m-r-xs">
      <i class="icon-users"></i> 信息权限
      <%#= link_to "新增", root_path, class: "btn btn-default btn-sm" %>
      <a href="#" class="btn btn-default btn-sm" data-permission="info">新增</a>
    </div>
  </div>
  <div class="table-responsive">
    <form action="/admin/roles/<%=  @role.id %>/create_info_permission"  data-remote="true" id="new_controller_permission" method="post">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr >
            <th>权限类型</th>
            <th>描述</th>
            <th>权限</th>
            <th style="width:150px">创建时间</th>
            <th style="width:130px">操作</th>
          </tr>
        </thead>
        <tbody id="info_tbody" >
          <!-- 列表循环开始 -->
          <%= render @role.info_permissions %>
          <!-- 列表循环结束 -->
        </tbody>
      </table>
    </form>
  </div>
</div>

