<div id="content_pg">
  <div class="content_pg_top">
    <div class="left nav_links">
      <a href="/">首页</a><span>/</span><span class="current">用户协议</span>
    </div>
    <div class="right"><a href="javascript:" class="page_print" onclick="javascript:window.print();" title="打印"></a><a class="mailto" href="mailto:" title="发送邮件"></a></div>
  </div>
  <div class="content_pg_ct">
    <div style="width: 80%;margin:0 auto;">
      <div style="margin-top: 50px; margin-bottom: 50px">
        <table border="0" cellpadding="5" cellspacing="0" width="100%">
          <tbody>
            <tr>
              <td width="100%" height="29" align="left" style="padding:10px;border: 3px solid #ccc;">
                <span class="genHeaderSmall">
                  <% if @user_type == "professional_visitor"  %>

                    <h1 style="text-align:center; padding-bottom:20px">中国—亚欧安博会网站专业观众注册协议</h1>
                    一、本网对只浏览不发布信息的用户实行免费，您不必注册可直接进行页面浏览；对于发布信息的用户暂实行无偿服务。<br />
                    二、如果您在注册时遇到困难，可拨打电话、或咨询在线QQ，完成专业观众注册过程。<br />
                    三、网上注册：凡是带*标志的项目为必填项，都须认真填写，否则不能正确提交，我们将在24小时内进行审核。<br />
                    （一）中国—亚欧安博会网站权利与义务：<br />
                    1、按协议的服务内容及时准确地为会员提供信息和服务。<br />
                    2、当专业观众违反协议规定内容时，中国—亚欧安博会网站有权在不通知您的情况下，取消其资格，并停止提供协议承诺的服务。<br />
                    3、中国—亚欧安博会网站仅作为信息提供商，并提供网上交流展示的场所。 <br />
                    4、有义务维护网站的正常秩序，对有损中国—亚欧安博会网站及可能为其他专业观众或第三方带来不利的内容和行为，在不与通知的情况下采取必要行动的权利。<br />
                    5、如发生火灾、水灾、暴动、骚乱、战争、自然灾害等不可抗事故，中国—亚欧安博会网站所不能控制之事件而影响提供的服务，中国—亚欧安博会网站无须承担责任。<br />
                    （二）专业观众权利与义务： <br />
                    1、定期享受中国—亚欧安博会网站提供的协议承诺的服务内容。 <br />
                    2、严格遵守协议内容。遵守国家法律法规，遵守交易规则，不得有非法经营行为及非法言论。 <br />
                    3、保证提供的信息及资料真实可靠，不含有虚假及不良内容，否则，造成对网站、专业观众及他人的伤害及损失由专业观众负全部责任；并且在中国—亚欧安博会网站规定的更新日期内及时更新，若长期（超过一个月）不更新信息或不使用专业观众资格登陆的，新疆国展展览有限公司有权取消其资格。 <br />
                    4、专业观众有责任对中国—亚欧安博会网站提供的会员身份进行保密。如果注册信息丢失或被盗用，专业观众须立即通知中国—亚欧安博会网站，由中国—亚欧安博会网站注销原来的专业观众身份，同时赋予新的专业观众身份，如因未及时通知本网造成的损失由专业观众自负。 <br />
                  <% else %>
                    <h1 style="text-align:center; padding-bottom:20px">中国—亚欧安博会网站参展商会员注册协议</h1>
                    一、本网对只浏览不发布信息的用户实行免费，您不必注册可直接进行页面浏览；对于发布信息的用户暂实行无偿服务。<br />
                    二、如果您在注册会员时有什么疑问，可拨打电话、或在线QQ咨询，进行注册会员完成注册全过程。<br />
                    三、网上注册：凡是带*标志的项目为必填项，都须认真填写，否则不能正确提交。待审核通过后，我们将在24小时内进行审核。<br />
                    （一）中国—亚欧安博会网站权利与义务：<br />
                     1、按协议的服务内容及时准确地为会员提供信息和服务。<br />
                     2、当会员违反协议规定内容时，中国—亚欧安博会网站有权在不通知您的情况下，取消其会员资格，并停止提供协议承诺的服务。<br />
                     3、中国—亚欧安博会网站仅作为信息提供商，并提供网上交流展示的场所。 <br />
                     4、有义务维护网站的正常秩序，对有损中国—亚欧安博会网站及可能为其他会员或第三方带来不利的内容和行为，在不与通知的情况下采取必要行动的权利。<br />
                     5、如发生火灾、水灾、暴动、骚乱、战争、自然灾害等不可抗事故，中国—亚欧安博会网站所不能控制之事件而影响提供的服务，中国—亚欧安博会网站无须承担责任。<br />
                    （二）会员权利与义务：<br />
                     1、定期享受中国—亚欧安博会网站提供的协议承诺的服务内容。<br />
                     2、严格遵守协议内容。遵守国家法律法规，遵守交易规则，不得有非法经营行为及非法言论。<br />
                     3、保证提供的信息及资料真实可靠，不含有虚假及不良内容，否则，造成对网站、会员及他人的伤害及损失由会员负全部责任；并且在中国—亚欧安博会网站规定的更新日期内及时更新，若长期（超过一个月）不更新信息或不使用会员资格登陆的，新疆国展展览有限公司有权取消其会员资格。<br />
                     4、会员有责任对中国—亚欧安博会网站提供的会员身份进行保密。 如果会员号或密码丢失或被盗用，会员须立即通知中国—亚欧安博会网站，由中国—亚欧安博会网站注销原来的会员身份，同时赋予新的会员身份，如因未及时通知本网造成的损失由会员自负。<br />
                     5、未得中国—亚欧安博会网站的书面允许，任何人不得以各种形式复制、散布、出售、出版、广播、转播中国—亚欧安博会网站上的相关信息。<br />
                     <br />
                      会员已认真阅读并完全认可上述协议内容，并自愿成为中国—亚欧安博会网站网的会员
                  <% end %>
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <div style="text-align:center; margin-top:15px">
                  <a href="/users/sign_up?step=2&user_type=<%= @user_type %>" class="btn">同意</a>
                  <a href="/" class="btn">不同意</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%#恭喜您，账号创建成功！请登录电子邮箱邮箱进行进行账号激活%>
<%#如未收到邮件点击此处重发激活邮件<a href=""><span style="color:red">重发激活邮件</span></a>%>
