<%= form_for(@mod_first_mod_user) do |f| %>
  <% if @mod_first_mod_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mod_first_mod_user.errors.count, "error") %> prohibited this mod_first_mod_user from being saved:</h2>

      <ul>
      <% @mod_first_mod_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
