<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row m-l-xs m-r-xs">
      <i class="icon-users"></i> 提示
    </div>
  </div>
  <div class="panel-body">
    <h4>恭喜你提交办证信息成功，请耐心等待审核，审核结果将以短信的形式发送至您的手机。</h4>
  </div>
</div>
