<%= simple_form_for [:admin,@info_type], :html => {multipart: true,class: "form-horizontal"}  do |f| %>
  <div class="form-group">
    <label class="col-sm-2 control-label">名称</label>
    <div class="col-sm-10">
      <input name="info_type[name]" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">描述</label>
    <div class="col-sm-10">
      <input name="info_type[desc]" type="text" class="form-control">
    </div>
  </div>
  <%= f.input :type, label: "类型", collection: Settings.info_type.types,  prompt: "选择你类型"  %>
  <div class="form-group">
    <label class="col-sm-2 control-label">排序</label>
    <div class="col-sm-10">
      <input name="info_type[position]" type="number" class="form-control">
    </div>
  </div>
  <%= f.input :has_child, label: "是否二级分类", as: :boolean, checked_value: true, unchecked_value: false   %>

  <div class="m-b-xs">
    <a href="javascript:void(0)" id="add_field" class="btn btn-default btn-sm">添加字段</a>
  </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th class="col-sm-2">名称</th>
          <th class="col-sm-2">是否验证</th>
          <th class="col-sm-2">是否做标题</th>
          <th class="col-sm-1">序号</th>
          <th class="col-sm-1">类型</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-primary">保存</button>
    <%= link_to "返回", admin_info_types_path, class: "btn btn-default" %>
  </div>
<% end %>

<script type="text/javascript">

  field = "<tr>"+
    "<td class=\"col-sm-2 \"><input type=\"text\" class=\"form-control\" name=\"item_type[name][]\" ></td>"+
    "<td class=\"col-sm-2 \"><select name=\"item_type[if_verify][]\" class=\"form-control\" >" +
    "<option value=\"0\" selected>不需验证</option>" +
    "<option value=\"1\">无需验证</option>" +
    "</select>"+
    "</td>"+
    "<td class=\"col-sm-2 \">" +
    "<select name=\"item_type[if_title][]\" class=\"form-control\">" +
    "<option value=\"0\" selected>不是title</option>" +
    "<option value=\"1\">作为title</option>" +
    "</select>" +
    "</td>" +
    "<td class=\"col-sm-1\"><input type=\"number\" name=\"item_type[position][]\" class=\"form-control\" value=\"0\"></td>"+
    "<td class=\"col-sm-1 \">" +
    "<select name=\"item_type[content_type][]\" class=\"form-control\">" +
    "<option value=\"1\" selected>文本</option>" +
    "<option value=\"2\">富文本</option>" +
    "<option value=\"3\" >地理位置</option>" +
    "<option value=\"4\">附件</option>" +
    "<option value=\"5\" >图片</option>" +
    "<option value=\"6\">视频</option>" +
    "</select>" +
    "</td>" +
    "</tr>"

  $("#add_field").click(function () {
    $("tr:last").after(field);
  })
</script>
