<div class="panel panel-default">
  <div class="panel-heading">
    <i class="icon-user-follow"></i>
    信息类型:  <%= @info_type.name %>
    描   述:  <%= @info_type.desc %>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
        <tr>
          <th class="col-sm-4">字段名称</th>
          <th class="col-sm-8">字段类型</th>
        </tr>
        </thead>
        <tbody>
        <% for item_type in @info_type.item_types %>
            <tr>
              <td class="col-sm-4"><%= item_type.name %></td>
              <td class="col-sm-8"><%= content_type_desc item_type.content_type %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

