<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:html="http://www.w3.org/TR/REC-html40">
<Worksheet ss:Name="Sheet1">
<Table>
<Row>
<% @card_fields.each do |field| %>
  <Cell><Data ss:Type="String"><%= field[:title] %></Data></Cell>
<% end %>
</Row>

<% @self_apply_cards.each do |card| %>
  <Row>
  <% @card_fields.each do |field| %>
    <Cell><Data ss:Type="String"><%= card[field[:name]] %></Data></Cell>
  <% end %>
  </Row>
<% end %>
</Table>
</Worksheet>
</Workbook>
