<% @title = "个人资料" %>
<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-edit"></i>
    修改密码
  </div>
  <div class="panel-body">
    <%= render 'pass_form' %>
  </div>
</div>
