<div  class="panel panel-default">
  <div class="panel-heading">
    <div class="row m-l-xs m-r-xs">
      <i class="icon-users"></i> 用户列表
    </div>
  </div>
  <div class="row wrapper">
    <div class="col-sm-5 m-b-xs">
      <select class="input-sm form-control w-sm inline v-middle">
        <option value="">选择用户类型</option>
        <option value="admin">管理员</option>
        <option value="info_admin">信息管理员</option>
        <option value="exhi">参展商</option>
        <option value="xx">专业观众</option>
      </select>
      <button class="btn btn-sm btn-default">查看</button>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-3">
      <div class="input-group">
        <input type="text" class="input-sm form-control" placeholder="输入用户名">
        <span class="input-group-btn">
          <button class="btn btn-sm btn-default" type="button">查找</button>
        </span>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th style="width:20px;">
            <label class="i-checks m-b-none">
              <input type="checkbox"><i></i>
            </label>
          </th>
          <th>用户名</th>
          <th>角色</th>
          <th style="width:150px;">注册时间</th>
          <th style="width:140px;">最后一次登录ip</th>
          <th style="width:70px;">状态</th>
          <th style="width:175px;">操作</th>
        </tr>
      </thead>
      <tbody>
        <!-- 列表循环开始 -->
        <%= render @users %>
        <!-- 列表循环结束 -->
      </tbody>
    </table>
  </div>
  <footer class="panel-footer">
    <div class="row">
      <div class="col-sm-6 hidden-xs">
        <small class="text-muted inline m-t-sm m-b-sm">共<%= @users.size %>位普通用户</small>
      </div>
      <div class="col-sm-6 text-right text-center-xs">
        <%= paginate @users %>
      </div>
    </div>
  </footer>
</div>
