<div id="footer">
  <div class="foot_menu">
    <%#<ul>%>
      <%#<li>%>
        <%#<dl>%>
          <%#<dt>关于安博会</dt>%>
          <%#<dd><a href="about_cpse.html">安博会介绍</a></dd>%>
          <%#<dd><a href="about_news.html">最新动态</a></dd>%>
          <%#<dd><a href="about_report.html">统计报告</a></dd>%>
          <%#<dd><a href="about_comment.html">业界评价</a></dd>%>
          <%#<dd><a href="about_support.html">支持与媒体</a></dd>%>
          <%#<dd><a href="about.php?ac=history&act=about&opt=history">历史回顾</a></dd>%>
          <%#<dd><a href="about_saloon.html">展馆介绍</a></dd>%>
        <%#</dl>%>
      <%#</li>%>
      <%#<li>%>
        <%#<dl>%>
          <%#<dt>展商信息</dt>%>
          <%#<dd><a href="exhibitor_info.html">参展信息</a></dd>%>
          <%#<dd><a href="exhibitor_login.html">展商登记</a></dd>%>
          <%#<dd><a href="exhibitor_service.html">展商服务</a></dd>%>
          <%#<dd><a href="exhibitor_advertisement.html">展场广告</a></dd>%>
          <%#<dd><a href="exhibitor_book.html">展商手册</a></dd>%>
          <%#<dd><a href="exhibitor_floorplan.html">展位图</a></dd>%>
          <%#<dd><a href="exhibitor_enquiry.html">咨询</a></dd>%>
        <%#</dl>%>
      <%#</li>%>
      <%#<li>%>
        <%#<dl>%>
          <%#<dt>展商名录</dt>%>
          <%#<dd><a href="famous.php?ac=list&act=famous&opt=2015">2015展商名录</a></dd>%>
          <%#<dd><a href="famous.php?ac=list&act=famous&opt=2013">2013展商名录</a></dd>%>
          <%#<dd><a href="famous.php?ac=list&act=famous&opt=2011">2011展商名录</a></dd>%>
        <%#</dl>%>
      <%#</li>%>
      <%#<li>%>
        <%#<dl>%>
          <%#<dt>商旅信息</dt>%>
          <%#<dd><a href="travel_fun.html">娱乐消费</a></dd>%>
          <%#<dd><a href="travel_vise.html">签证服务</a></dd>%>
          <%#<dd><a href="travel_traffic.html">交通情况</a></dd>%>
          <%#<dd><a href="travel_hotel.html">住宿登记</a></dd>%>
        <%#</dl>%>
      <%#</li>%>
      <%#<li class="last">%>
        <%#<dl>%>
          <%#<dt>FAQ</dt>%>
          <%#<dd><a href="visitor.php?ac=enquiry&act=visitor&opt=enquiry">在线咨询</a></dd>%>
        <%#</dl>%>
      <%#</li>%>
    <%#</ul>%>
  </div>
  <hr style="margin:20px auto; width:980px;">
  <div class="footer"> © 2015 &nbsp; 亚欧安博会 &nbsp; 版权所有 &nbsp; <a href="http://www.xjcec.com">http://www.xjcec.com</a><div class="right">
    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2794925004&site=qq&menu=yes"><img src="/cpse/qq.png" alt="点击这里给我发消息" border="0" align="absmiddle" title="点击这里给我发消息">专业观众咨询一</a>&nbsp;&nbsp;
    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3045339785&site=qq&menu=yes"><img src="/cpse/qq.png" alt="点击这里给我发消息" border="0" align="absmiddle" title="点击这里给我发消息">专业观众咨询二</a>&nbsp;&nbsp;
    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1722626910&site=qq&menu=yes"><img src="/cpse/qq.png" alt="点击这里给我发消息" border="0" align="absmiddle" title="点击这里给我发消息">参展咨询一</a>&nbsp;&nbsp;
    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2199717320&site=qq&menu=yes"><img src="/cpse/qq.png" alt="点击这里给我发消息" border="0" align="absmiddle" title="点击这里给我发消息">参展咨询二</a>&nbsp;&nbsp;
    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2230368654&site=qq&menu=yes"><img src="/cpse/qq.png" alt="点击这里给我发消息" border="0" align="absmiddle" title="点击这里给我发消息">网站合作咨询</a>&nbsp;&nbsp;
  </div></div>
</div>
