<div class="nav right">
  <ul id="navarea">
    <li><a href="/" class="nav_focus current">首页</a>
    </li>
    <li><a href="/about" class="nav_focus ">关于展会</a>
      <div class="menu_a" style=" display:none;">
        <ul>
          <li><a href="/about/infos/5551e3cd6d61630637180000">展会介绍</a></li>
        </ul>
        <ul>
          <li><a href="/about/infos/5551e3df6d616306371b0000">展馆介绍</a></li>
        </ul>
        <ul>
          <li><a href="/news">最新动态</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#" class="nav_focus ">展会活动</a>
      <div class="menu_a" style=" display:none;">
        <ul>
          <li><a href="/actives">会议、论坛</a></li>
        </ul>
        <ul>
          <li><a href="/task">日程安排表</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#" class="nav_focus ">参展服务</a>
      <div class="menu_a" style=" display:none;">
        <ul>
          <li><a href="/exhibition_info">展会信息</a></li>
        </ul>
        <ul>
          <li><a href="/users/sign_up?user_type=exhibitor&step=1">展商登记</a></li>
        </ul>
        <ul>
          <li><a href="/position_img">展位图</a></li>
        </ul>
        <ul>
          <li><a href="/ads">展场广告</a></li>
        </ul>
        <ul>
          <li><a href="/exhibitor_manual">展商手册</a></li>
        </ul>
        <ul>
          <li><a href="/exhibition_show">展商展示</a></li>
        </ul>
        <ul>
          <li><a href="#">调查问卷</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#" class="nav_focus ">专业观众服务</a>
      <div class="menu_a" style=" display:none;">
        <ul>
          <li><a href="/users/sign_up?user_type=professional_visitor&step=1">观众登记</a></li>
        </ul>
        <ul>
          <li><a href="/position_img">展位图</a></li>
        </ul>
        <ul>
          <li><a href="">问卷调查</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#" class="nav_focus ">历届回顾</a>
      <div class="menu_a" style=" display:none;">
        <ul>
          <li><a href="/previous_info">历届信息</a></li>
        </ul>
        <ul>
          <li><a href="/exhibition_directory/infos/5558caa76d616334e00d0000">展商名录</a></li>
        </ul>
      </div>
    </li>
    <li><a href="" class="nav_focus ">新闻媒体</a>
      <div class="menu_a" style=" display:none;">
        <ul>
          <li><a href="/ann">新闻通告</a></li>
        </ul>
        <ul>
          <li><a href="/links">支持与媒体</a></li>
        </ul>
      </div>
    </li>
    <li><a href="" class="nav_focus ">商旅信息</a>
      <div class="menu_a" style=" display:none;">
        <ul>
          <li><a href="/wlmq_desc">新疆乌鲁木齐介绍</a></li>
        </ul>
        <ul>
          <li><a href="/traffic_info">交通信息</a></li>
        </ul>
        <ul>
          <li><a href="/hotel_info">住宿信息</a></li>
        </ul>
        <ul>
          <li><a href="/amusement">娱乐消费</a></li>
        </ul>
      </div>
    </li>
    <li><a href="" class="nav_focus ">下载中心</a>
      <div class="menu_a" style=" display:none;">
        <ul>
          <li><a href="">邀请函</a></li>
        </ul>
        <ul>
          <li><a href="">参展程序</a></li>
        </ul>
        <ul>
          <li><a href="">参展协议书</a></li>
        </ul>
        <ul>
          <li><a href="">服务手册</a></li>
        </ul>
        <ul>
          <li><a href="">参观指南</a></li>
        </ul>
        <ul>
          <li><a href="">展商入场须知</a></li>
        </ul>
        <ul>
          <li><a href="">论坛日程</a></li>
        </ul>
        <ul>
          <li><a href="">电子会刊</a></li>
        </ul>
      </div>
    </li>
    <li class="last"><a href="mailto:#" class="nav_focus ">联系我们</a>
    </li>
  </ul>
</div>
