<div class="img_box1">
  <a href="<%=  info_img.items.first.attachments.last.asset_url %>" class="fancybox" title="<%= info_img.title %>" >
    <img src="<%=  info_img.items.first.attachments.last.asset_url %>" alt=""  />
  </a>
</div>
