<p>你好 <%= @resource.email %>!</p>

<p>你需要重置你的密码？请点击下面的链接进行重置密码。</p>

<p><%= link_to '进行重置密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果你没有进行重置操作，请忽略此邮件，谢谢!</p>
<p>你未进行密码重置操作之前，你的密码不会被重置。</p>
