<table border="0" cellpadding="5" cellspacing="0" width="98%">
  <tbody>
    <tr>
      <td rowspan="3" width="19%">                      <img src="images/succeed_ico.gif" border="0">
      </td>
      <td width="72%" height="29" align="left" style="border-bottom: 1px solid #666666;">
        <span class="genHeaderSmall">恭喜您，账号创建成功！请登录电子邮箱邮箱进行进行账号激活
          如未收到邮件点击此处重发激活邮件<a href=""><span style="color:red">重发激活邮件</span></a>
        </span>
      </td>
      <td width="9%" rowspan="2" align="left"><img id="loading" style="display:none;" src="images/wait2.gif" alt="" width="16" height="20"></td>
    </tr>
    <tr>
      <td align="left" class="small" style="padding-left: 25px;">
      </td>
    </tr>
    <tr>
      <td class="small" align="right" nowrap="nowrap">&nbsp;</td>
      <td class="small" align="right" nowrap="nowrap"><a href="javascript:window.history.back();">Go Back</a><br>                    </td>
    </tr>
  </tbody>
</table>
