<% @title = "个人资料" %>
<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-edit"></i>
    编辑个人基础信息
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
